body {
  height: 100%;
  margin: 0px;
}
html {
  scroll-behavior: smooth;
}
header {
  height: 5%;
  background-color: rgb(48, 49, 49);
  color: aliceblue;
  display: flex;
  flex-direction: row;
}
.logo {
  margin-right: auto;
  display: flex;
  margin-left: 18px;
  margin-top: 10px;
}

.menu {
  list-style-type: none;
  display: flex;
  float: right;
  margin-right: 18px;
}

.menu li {
  margin: 10px;
}
a {
  cursor: pointer;
  color: aliceblue;
  text-decoration: none;
}

main {
  height: 70%;
}

footer {
  line-height: 30px;
  font-size: medium;
  /* margin-left: 25px; */
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
  background-color: #595c88;
  color: aliceblue;
}

.div1 {
  background-color: rgb(48, 49, 49);
  display: grid;
  justify-content: center;
  text-align: center;
  padding-bottom: 100px;
}

.subscribe {
  color: aliceblue;
  background-color: black;
  text-align: center;
  padding: 10px;
  text-decoration: underline;
}

.last-section {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  list-style-type: none;
}

.personal-link {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.link {
  padding-top: 60px;
  padding-right: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-colleges {
  position: relative;
  overflow: hidden;
  /* width: 2334px; */
}

.top-colleges-wrapper {
  display: flex;
  transition: transform 1.5s ease;
}
.top-exams-wrapper {
  display: flex;
  transition: transform 1.5s ease;
}

.top-colleges-item {
  width: 389px;
  flex-shrink: 0;
  margin: 10px;
}
.top-exams-item {
  width: 389px;
  flex-shrink: 0;
  margin: 10px;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3f434c;
  border: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.scroll-left {
  left: 0;
}

.scroll-right {
  right: 0;
}
.scroll-left2 {
  left: 0;
}

.scroll-right2 {
  right: 0;
}

.news1 {
  display: flex;
  flex-direction: row;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
}

.exam-news {
  margin: 5px;
}
