body {
	font-family: Arial, sans-serif;
	margin: 0;
}

header {
	background-image: url(file:///C:/Users/INDIAN/Downloads/iit_bombay.jpg);
	height: 30vh;
	background-size: cover;
	background-position: center;
	background-color: rgba(0, 0, 0, 0.7);
	background-blend-mode: darken;	
	
	text-align: center;
	font-size: x-large;
	color: white;
	padding: 20px;
}

h1 {
	margin: 0;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: white;
	text-decoration: none;
}

main {
	margin: 20px;
}

section {
	margin-bottom: 30px;
}

h2 {
	margin-top: 0;
}

ul {
	list-style: disc;
	margin-left: 20px;
}

form label {
	display: block;
	margin-bottom: 5px;
}

